<template>  
    <section id="works-section">
        <div v-for="(timeline,index) in timelines"  class="relative" :id="'animate-sec-'+(index+1)">
            <div :class="setGradient(index)" :id="'animate-background-'+(index+1)+' delay-5'">
                <img :src="timeline.timeline_image" height="100%" width="100%" :id="'animate-image-'+(index+1)" class="delay-4">
                <div class="container">
                    <div class="row relative">
                            <div class="number-inside-circle delay-2" :id="'animate-number-'+(index+1)">{{ timeline.timeline_date }}<br/>{{ timeline.timeline_year }}</div>
                            <div class="vertical-line delay-1" :id="'animate-line-'+(index+1)"></div>

                        <div class="content-for-works col-sm-6 delay-3" :class="setText(index)" :id="'animate-content-'+(index+1)">
                            <p>
                                {{ timeline.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    
    export default {
        data(){
            return {
                timelines : []
                
            }
        },
        created:function(){
            this.fetchData()
           
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-about-us-data').then(function(response){
                    Vue.set(vm.$data,'timelines',response.data.timelines)
                })
                setTimeout(this.fetchData,5000) 
            },
            setGradient(index){
                if (index % 2 === 0) return "gradient-right";
                else return "gradient-left";
            },
            setText(index){
                if (index % 2 === 0) return "text-left col-sm-offset-6";
                else "text-right";
            },
            
        }
    }
</script>
