<template>  
     <ul class="nav nav-tabs text-center" role="tablist">
        <li role="presentation" class="active text-center text-uppercase">
            <a href="#all" aria-controls="all" role="tab" data-toggle="tab"><h1>All Services</h1></a>
        </li>
        <li  v-for="(galleryService,index) in galleryServices" role="presentation" class="text-center text-uppercase">
            <a :href="'#'+galleryService.slug" :aria-controls="index" role="tab" data-toggle="tab"><h1> {{ galleryService.name }}</h1></a>
        </li>
    </ul>
</template>

<script>
    
    export default {
        data(){
            return {
                galleryServices : [],
                
            }
        },
        created:function(){
            this.fetchData()
           
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-services-data').then(function(response){
                    Vue.set(vm.$data,'galleryServices',response.data.services)
                })
                setTimeout(this.fetchData,5000) 
            },
            
            
        }
    }
</script>
