<template>  
    <div class="row">
        <div role="tabpanel" class="lar-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs text-center" role="tablist">
                <li role="presentation" class="text-center text-uppercase" v-for="(gallery,index) in galleries">
                    <a :href="'#'+gallery.slug" :aria-controls="gallery.aria_controls" role="tab" data-toggle="tab">
                        <h1>{{ gallery.service_name }}</h1>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" :id="gallery.slug" v-for="(gallery,index) in galleries">
                    <div class="col-xs-12 text-center">
                        {{ gallery.description }}
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="gall">
                            <div v-masonry transition-duration="3s" item-selector=".gall-coll" class="masonry-container">
                                
                                <div v-masonry-tile class="gall-coll" v-for="(detail,index2) in gallery.details">
                                    <a :href="detail.gallery_image" data-lightbox="all" :data-title="detail.name">
                                        <div class="gall-item">
                                            <div class="gal-img">
                                                <img :src="detail.gallery_image_tumbnail">
                                            </div>
                                            <div class="gal-overlay">
                                                <div class="gal-ov-desc">
                                                    <i class="fas fa-search fa-3x"></i><br>
                                                    <p>{{ detail.description }}</p>
                                                </div>
                                                <div class="gal-ov-tag">
                                                    <p>{{ detail.service_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</template>


<script>
    import {VueMasonryPlugin} from 'vue-masonry';
    Vue.use(VueMasonryPlugin);
    export default {
        data(){
            return {
                galleries : [],
            }
        },
        created:function(){
            this.fetchData()
            this.$redrawVueMasonry()
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-gallery-data').then(function(response){
                    Vue.set(vm.$data,'galleries',response.data.galleries)
                })
                setTimeout(this.fetchData,5000) 
            }
        }
    }
    
</script>
