<template>  
   <div class="row">
        <div class="col-xs-12" id="instaweek">
            <div class="owl-carousel owl-theme">
                <div class="item-partner" v-for="(instagram,index) in instagrams">
                    <a :href="instagram.link" target="_blank" class="item"> 
                        <div class="img-box">
                            <img :src="instagram.images.standard_resolution.url">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data(){
            return {
                instagrams : [],
            }
        },
        created:function(){
            this.fetchData()
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-instagram-feed')
                .then(function(response){
                    Vue.set(vm.$data,'instagrams',response.data.instagrams)
                    Vue.nextTick(function(){
                        $('.owl-carousel').owlCarousel({
                            'center': true,
                            'loop': true,
                            'nav': false,
                            'autoplay': true,
                            'margin':10,
                            'responsiveClass':true,
                            'autoplayTimeout': 5000,
                            responsive:{
                                0:{
                                    items:1,
                                    nav:false
                                },
                                600:{
                                    items:3,
                                    nav:false
                                },
                                1000:{
                                    items:4,
                                    nav:false
                                }
                            }
                        });
                    }.bind(vm));
                })
                setTimeout(this.fetchData,10000) 
            }
        }
    }
    
</script>
