<template>  
    <div class="modal fade" id="myModal">
            <form id="form" @submit.prevent="submitAppoitment">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></button>
                            <h4 class="modal-title"><strong class="text-red">Make Appointment</strong></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p class="text-center">
                                        We will hear you, and make your special day more special, just fill form bellow, and we will contact you soon.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="control-input" :class="statusValidation($v.appointment.name)">
                                            <input placeholder="Name" v-model="$v.appointment.name.$model" type="text" class="form-control">
                                            <span v-if="$v.appointment.name.$dirty"><span style="" class="text-danger" v-if="!$v.appointment.name.required">Please Fill Name First </span>
                                            <span style="" class="text-success" v-else>Looks Nice.</span></span>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="control-input" :class="statusValidation($v.appointment.email)">
                                            <input placeholder="Email" v-model="$v.appointment.email.$model" type="text" class="form-control">
                                            <span v-if="$v.appointment.email.$dirty">
                                            <span style="" class="text-danger" v-if="!$v.appointment.email.required">Please Fill Mail First </span>
                                            <span style="" class="text-danger" v-else-if="!$v.appointment.email.email">That doesn't look like it's a valid email address. </span>
                                            <span style="" class="text-success" v-else-if="$v.appointment.email.required && $v.appointment.email.email" >Looks Nice.</span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-input" :class="statusValidation($v.appointment.phone_number)">
                                            <input placeholder="Telp." v-model="$v.appointment.phone_number.$model" type="text" class="form-control">
                                            <span v-if="$v.appointment.phone_number.$dirty"><span style="" class="text-danger" v-if="!$v.appointment.phone_number.required">Please Fill Phone Number First </span>
                                            <span style="" class="text-success" v-else>Looks Nice.</span></span>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="control-input" :class="statusValidation($v.appointment.appointment_type)">
                                            <select id="topik" name="topik" class="form-control" v-model="$v.appointment.appointment_type.$model">
                                                <option value="" selected="selected">- Select Service -</option>
                                                <option value="Decor">Service Decor</option>
                                                <option value="Venue">Venue</option>
                                            </select>
                                            <span v-if="$v.appointment.appointment_type.$dirty"><span style="" class="text-danger" v-if="!$v.appointment.appointment_type.required">Wanna talk about Venue or decoration?. Please Pick it First.</span>
                                            <span style="" class="text-success" v-else>Looks Nice.</span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-input" :class="statusValidation($v.appointment.date)">
                                            <datepicker id="date" v-model="$v.appointment.date.$model" placeholder="Pick a date" input-class="form-control" typeable>
                                            </datepicker>
                                            <span v-if="$v.appointment.date.$dirty"><span style="" class="text-danger" v-if="!$v.appointment.date.required">Please Pick a date </span>
                                            <span style="" class="text-success" v-else>Looks Nice.</span></span>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="control-input" :class="statusValidation($v.appointment.description)">
                                            <textarea id="message" placeholder="Tell us your story and what you need here" rows="5" name="message" cols="50" v-model="$v.appointment.description.$model" class="form-control" ></textarea>
                                            <span v-if="$v.appointment.description.$dirty">
                                            <span style="" class="text-danger" v-if="!$v.appointment.description.required">Please Fill Description First </span>
                                            <span style="" class="text-danger" v-else-if="!$v.appointment.description.minLength">At least you need {{ $v.appointment.description.$params.minLength.min }} character to explain what you need. </span>
                                            <span style="" class="text-success" v-else-if="$v.appointment.description.required && $v.appointment.description.minLength" >Looks Nice.</span></span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button v-if="isPosting === true" type="button" class="btn btn-appointment disabled">
                                <strong>Loading</strong>
                            </button>

                            <button id="notif-success" v-else type="submit" class="btn btn-appointment" ><strong>Submit Request</strong></button>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import Vuelidate from 'vuelidate'
    Vue.use(Vuelidate);
    import { required, email,minLength } from "vuelidate/lib/validators";

    export default {
        data(){
            return {
                appointment : { name: null, email:null, phone_number:null, date:null, appointment_type:'', description:null },
                isPosting : false
            }
        },
        components: {
            Datepicker
        },
        validations: {
            appointment : {
                name: {
                    required
                },
                email: {
                    required,email
                },
                phone_number: {
                    required
                },
                appointment_type: {
                    required
                },
                date: {
                    required
                },
                description: {
                    required,
                    minLength : minLength(10)
                },
            }
        },
        methods:{
            statusValidation(validation) {
                return {
                    'has-error': validation.$error,
                    'has-success': validation.$dirty
                }
            },
            setDisabled(){
                if(
                    (!this.$v.appointment.description.required || !this.$v.appointment.description.minLength) 
                    || !this.$v.appointment.date.required
                    || !this.$v.appointment.appointment_type.required
                    || !this.$v.appointment.phone_number.required
                    || !this.$v.appointment.name.required
                    || !this.$v.appointment.appointment_type.required
                ){
                    return 'disabled';
                    
                }else{
                    return null;
                } 
            },
            submitAppoitment:function(event) {
                this.$v.appointment.$touch();
                if(this.$v.appointment.$error) return

                var vm = this
                let form = new FormData();
                form.append('name',this.appointment.name);
                form.append('email',this.appointment.email);
                form.append('phone_number',this.appointment.phone_number);
                form.append('date',vm.convert(this.appointment.date));
                form.append('appointment_type',this.appointment.appointment_type);
                form.append('description',this.appointment.description);
                
                axios.post( '/appointment/post',
                    form,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function() {
                            vm.isPosting = true
                        }
                    }
                )
                .then(function(){
                    $('#myModal').modal('hide');
                    $(".modal-backdrop").remove();
                    vm.resetForm();
                    $.notify("Request Success, We will contact you soon",{
                        type: 'success'
                    });
                    

                })
                .catch(function(){
                    vm.isPosting = false; 
                });
            },
            convert(str) {
                var date = new Date(str),
                    mnth = ("0" + (date.getMonth()+1)).slice(-2),
                    day  = ("0" + date.getDate()).slice(-2);
                return [ date.getFullYear(), mnth, day ].join("-");
            },
            resetForm() {
                this.isPosting = false; 
                this.appointment.name = ''; 
                this.appointment.email = '';
                this.appointment.date = '';
                this.appointment.phone_number = '';
                this.appointment.appointment_type = ''; 
                this.appointment.description = '';
                this.$v.appointment.$reset();
            }
            
        }
    }
</script>
