<template>  
    <div role="tabpanel" class="tab-pane" id="package">

        
            <div class="col-lg-4 col-md-4 col-sm-12" v-for="(VenuePackage,index) in VenuePackages">
                <p><strong>{{ VenuePackage.package_name }}</strong></p>
                <p>
                    <ul v-for="(detail,index2) in VenuePackage.details">
                        <li>{{ detail.description }}</li>
                    </ul>
                </p>
            </div>
                
            
          
             
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                VenuePackages : []
            }
        },
        created:function(){
            this.fetchData()
           
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-venue-package-data').then(function(response){
                    Vue.set(vm.$data,'VenuePackages',response.data.packages)
                })
            },
            showDiv(index){
                if((index+1)%3 == 0) return true;
            }
        }
    }
</script>
