<template>  
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 main-title">
                    <h1 class="text-center">Layanan Utama Kami</h1>
                    <p class="col-md-6 col-md-offset-3 text-center">With our venue everything more easier and you can rest to us all the stuff for the happies day in your life.</p>
                </div>
            </div>
            <div class="row services-body">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 bg-lay"></div>
                <div class="col-xs-12" v-for="(service,index) in services">
                    <div class="col-md-5 col-sm-6" :class="setEven(index,1)">
                        <div class="img-box left-shadow">
                            <img :src="service.service_image">
                        </div>
                    </div>
                    <div v-if="setEven(index,4)" class="col-md-1 hidden-xs hidden-sm"></div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-desc" :class="setEven(index,2)">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.description }}</p>
                            <p><a :href="service.url_go_to_gallery">Lihat Lebih Lanjut</a></p>
                        </div>
                        <div class="line-service col-md-3 no-p" :class="setEven(index,3)">
                            <div class="line-hr-s"></div>
                        </div>
                        
                        
                        <div v-if="setOdd(index,4)" class="col-md-1 hidden-xs hidden-sm"></div>
 
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    
    export default {
        data(){
            return {
                services : []
                
            }
        },
        created:function(){
            this.fetchData()
           
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-services-data').then(function(response){
                    Vue.set(vm.$data,'services',response.data.services)
                })
                //setTimeout(this.fetchData,5000) 
            },
            setEven(index,flag){
                if (index % 2 === 0) {
                    if(flag == 1) return "pull-right"
                    else if(flag == 2) return "text-right"
                    else if(flag == 3) return "pull-right"
                    else if(flag == 4) return true
                }else{
                    return false
                }
                    
            },
            setOdd(index){
                if (index % 2 === 1) return  true
                else return false
            },
            
        }
    }
</script>
