<template>  
     <section>
        <div id="venueSlider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li v-for="(slider,index) in sliders" data-target="#venueSlider" :data-slide-to="index" :class="slider.active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item" v-for="(slider,index) in sliders" :class="slider.active">
                    <img alt="First slide" :src="slider.slider_image">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="bgv-cap-venue">
                                            <h3> {{  slider.description }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    
    export default {
        data(){
            return {
                sliders : []
                
            }
        },
        created:function(){
            this.fetchData()
           
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-slider-venue-data').then(function(response){
                    Vue.set(vm.$data,'sliders',response.data.sliders)
                })
            }
        }
    }
</script>
