<template>  
    <section>
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div v-for="(slider,index) in sliders" class="item" :class="slider.active">
                    <div class="overlay" id="homeslider"></div>
                    <img :src="slider.slider_image" :alt="slider.description">
                    <div class="carousel-caption cpHomeS">
                        <div class="col-md-6">
                            <div class="col-xs-12 home-caption">
                                <h1>
                                {{  slider.description }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-downs hidden-xs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="right carousel-control" href="#homeCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
</template>

<script>
    
    export default {
        data(){
            return {
                sliders : []
                
            }
        },
        created:function(){
            this.fetchData()
           
        },
        methods:{
            fetchData(){
                var vm = this
                axios.get('/get-slider-home-data').then(function(response){
                    Vue.set(vm.$data,'sliders',response.data.sliders)
                })
            }
        }
    }
</script>
