

.navbar-inverse{background-color: #a22636;border-color:#a22636;}
.form-control:focus {
  outline: 0;
  border-color: transparent;
  border-bottom-color: #a22636;
  -webkit-box-shadow: 0 1px 0 #a22636;
  box-shadow: 0 1px 0 #a22636;
}
