body{
    color: #1B2021;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px;
    /*font-family: 'Dancing Script', cursive;*/
}
.main-content-wrapper{
    min-height: calc(100vh - 312px);
}
a{
    text-decoration: none;
    transition: all .25s ease-in;
}
a:hover,a:focus{
    transition: all .25s ease-out;
    text-decoration: none;
}
nav{
    border-bottom: 1px solid #EDF2F4;
    box-shadow: 1px 0px 2px #EDF2F4;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}
header nav .navbar-nav a.btn-appointment{
    padding: 10px;
    margin-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
header nav .navbar-nav a.btn-appointment:hover,header nav .navbar-nav a.btn-appointment:focus{
    background-color: #C3191F;
    font-weight: bold;
}
#appointment-nav-btn:hover,#appointment-nav-btn:focus{
    border-bottom-color: transparent;
}
header nav .navbar-toggle{
    padding-top: 20px;
}
header nav .navbar-toggle .icon-bar{
    background-color:  #E43137;
}
header nav ul .active{
    border-bottom-color: #C3191F;
}
header nav li{
    border-bottom: 2px solid transparent;
}
header nav li:hover,header li:focus{
    border-bottom-color: #C3191F;
}
header .navbar-nav a{
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}
header .navbar-brand {
    padding: 8px 15px;
    height: 72px;
}
header .navbar-color{
    background-color: rgba(0,0,0,0.5);
}
footer{
    color: #fff;
}
footer .top-footer{
    background-color: #313536;
    padding: 35px 0px;

}
footer .top-footer .map-footer{
    height: 300px
}
footer .top-footer .svg-inline--fa{
    margin-right: 10px;
    color: #E43137;
}
footer .top-footer .img-box{
    height: 100px;
}
footer .top-footer .img-box img{
    object-fit: contain;
    object-position: left;
}
footer .bottom-footer{
    background-color: #1E2424;
    padding: 20px 0px;

}
footer .bottom-footer a{
    color: #fff;
}
footer .bottom-footer a:hover,footer .bottom-footer a:focus{
    color: #E43137;
}
/* nav search*/
.search-form-wrapper {
    display: none;
    padding: 5px 5px;
    margin-top: 0px;
    visibility: hidden;
    opacity: 0;
    /*background-color: rgb(74, 74, 74);*/
    transition: visibility .5s, opacity.5s ease-in;
}
.search-form-wrapper .input-group{
    width: 100%;
}
.search-form-wrapper.open {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity.5s ease-in;
}


.btn-appointment{
    color: #fff;
    font-weight: normal;
    background-color: #E43137;
}
.btn-appointment:hover,.btn-appointment:focus{
    color: #fff;
    font-weight: normal;
    background-color: #C3191F;
}
#homeCarousel .carousel-inner{
    min-height: 100vh;
    height: 100vh;
}
#homeCarousel .carousel-inner .item{
    height: 100%;
    width: 100%;
}
#homeCarousel .carousel-inner .item img{
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#homeCarousel{

}
.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    margin: auto;

    width :25px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 12px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
#homeslider{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2021+0,1b2021+100&0.9+0,0+100 */
    background: -moz-linear-gradient(-45deg, rgba(27,32,33,0.9) 0%, rgba(27,32,33,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(27,32,33,0.9) 0%,rgba(27,32,33,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(27,32,33,0.9) 0%,rgba(27,32,33,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61b2021', endColorstr='#001b2021',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#homeCarousel .carousel-inner .item .carousel-caption{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*border: 2px solid blue;*/
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-red-o{
    background-color: transparent;
    border: 1px solid #E43137;
    color: #fff;
    font-weight: bolder;
}
.btn-red:hover,.btn-red:focus{
    background-color: #E43137;
}
a.btn-red-o{
    background-color: transparent;
    border: 1px solid #E43137;
    color: #fff;
    font-weight: bolder;
}
a.btn-red-o:hover,a.btn-red-o:focus{
    background-color: #E43137;
    color: #fff;
}
.home-caption h1{
    font-size: 60px;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-25{
    margin-top: 25px;
}
.mb-25{
    margin-bottom: 25px;
}
.no-p{
    padding: 0;
}
.no-m{
    margin: 0;
}
.ptb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.ptb-25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.img-box{
    height: 400px;
    width: 100%;
}
.img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#whyus .img-box{
    height: 150px;
}
#whyus .img-box img{
    object-fit: contain;
}
.main-title h1{
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}
.sec-def{
    padding-top: 50px;
    padding-bottom: 50px;
}
.why-item{
    transition: all .5s ease-in;
}
.why-item:hover,.why-item:focus{
    color: #E43137;
    transition: all .5s ease-out;
}
.parallax{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}
.parralax-overlay{ 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e43137+0,e43137+100&0.3+0,0.8+100 */
    background: -moz-linear-gradient(-45deg, rgba(228,49,55,0.3) 0%, rgba(228,49,55,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(228,49,55,0.3) 0%,rgba(228,49,55,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(228,49,55,0.3) 0%,rgba(228,49,55,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4de43137', endColorstr='#cce43137',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#featured1{
    padding: 60px 10px;
}
#featured1 h1{
    text-shadow: 0px 3px 6px #1B2021;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}
#carouselPartner{

}
#carouselPartner .carousel-control{
    text-shadow: 0 1px 2px #E43137;
    width: unset;
}
#carouselPartner .img-box{
    height: 150px;
    border: 1px solid #E43137 ;
    padding: 10px;
}
#carouselPartner .img-box img{
    object-fit: contain;
}
.item-partner{
    margin-top: 10px;
    margin-bottom: 10px;
}
#carouselPartner .carousel-control.right,#carouselPartner .carousel-control.left{
    background-image: none;
}
.plr-5{
    padding-left: 15px;
    padding-right: 15px;
}
#testimoni{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top:80px
}
#testimoni .parralax-overlay{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2021+0,1b2021+100&0.3+0,0.8+100 */
    background: -moz-linear-gradient(-45deg, rgba(27,32,33,0.3) 0%, rgba(27,32,33,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(27,32,33,0.3) 0%,rgba(27,32,33,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(27,32,33,0.3) 0%,rgba(27,32,33,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d1b2021', endColorstr='#cc1b2021',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#carouselTesti .carousel-control{
    text-shadow: 0 1px 2px #E43137;
    width: unset;
}
#carouselTesti .carousel-control.right,#carouselPartner .carousel-control.left{
    background-image: none;
}
#carouselTesti .img-box{
    height: 200px;
    /*border: 1px solid #E43137 ;*/
    box-shadow: 1px 1px 10px #E43137;
    padding: 0px;
}
#carouselTesti .img-box img{
    object-fit: cover;
}
#testimoni .testi-item{
    padding-left: 50px;
    padding-right:50px;
}
#homeBlog{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EDF2F4;
}
#homeBlog .main-title h1{
    margin-bottom: 15px;
}
#homeBlog .main-title p{
    margin-bottom: 25px;
}
.blogs-gal{

}
.blogs-gal a:hover .blog-item,.blogs-gal a:focus .blog-item{
    margin-top: -10px;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}
.blogs-gal .blog-item{
    color:#1B2021;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #FACCD4;
    transition: all .25s linear;
    -webkit-transition: all .25s linear;
    margin-bottom: 25px;
}
.blogs-gal .blog-item .img-box{
    height: 200px;
}
.blogs-gal .blog-item .img-box img{
    
}
.blogs-gal .blog-item .blog-desc{
    padding: 0px 20px 20px 20px;
}
.blogs-gal .blog-item .blog-desc .blog-tgl{
    
}
.blogs-gal .blog-item .blog-desc{
    
}
.blogs-gal{
    
}
.text-red{
    color: #E43137;
}
#homeBlog a.btn-red-o{
    color: #E43137;
}
#homeBlog a.btn-red-o:hover,#homeBlog a.btn-red-o:focus{
    color: #ffffff;
}

#venue{
    padding-top: 50px;
    padding-bottom: 50px;
}
#venue .main-title h1{
    margin-bottom: 15px;
}
#venue .main-title p{
    margin-bottom: 25px;
}
#venue .venue-body{
    margin-top: 20px;
    margin-bottom: 25px;
}
#venue .venue-body .about-venue{
    background-color: #EDF2F4;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
#venue .venue-body .about-venue h3{
    margin-top: 0px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
#venue .venue-body .about-venue p{
    margin-bottom:0px;
}
#venue .venue-body .list-venue{
    background-color: #EDF2F4;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    overflow-y: scroll;
    padding:20px;
}
#venue .venue-body .list-venue ul{
    list-style: none;
    padding: 0;
}
#venue .venue-body .list-venue ul li{
    border-bottom: 1px solid #707070;
    margin-bottom: 15px;
}
#venue .venue-body .list-venue ul li p{
    margin-bottom: 10px;
}
#venue .venue-body .venue-slider{
    box-shadow: 0px 0px 10px #1B2021;
    position: relative;
    z-index: 300;
}
#venue .venue-body .venue-slider .img-box{
    height: 250px;
}
#venue .venue-body .venue-slider .img-box img{
    
}
#venue{
    
}
#carouselVenue .carousel-indicators .active{
    background-color: #E43137;
}
#carouselVenue .carousel-indicators li{
    background-color: #ffffff;
    border-color: #E43137;
}
#venue a.btn-red-o{
    color: #E43137;
}
#venue a.btn-red-o:hover,#homeBlog a.btn-red-o:focus{
    color: #ffffff;
}

#services{
    padding-top: 50px;
    padding-bottom: 50px;
}
#services .main-title h1{
    margin-bottom: 15px;
}
#services .main-title p{
    margin-bottom: 50px;
}
#services a.btn-red-o{
    color: #E43137;
}
#services a.btn-red-o:hover,#homeBlog a.btn-red-o:focus{
    color: #ffffff;
}
#services .services-body{
    position: relative;
}
#services .services-body .img-box{
    margin-top: -40px;
    height: 400px;
}
#services .services-body .img-box img{
    
}
#services .services-body .service-desc{
    min-height: calc(400px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
#services .services-body .service-desc h3{
    font-family: 'Dancing Script', cursive;
}
#services .services-body .service-desc a{
    color: #E43137;
    font-size: larger;
    text-decoration: none;
    font-weight: bolder;
}
#services .services-body .service-desc a:hover,#services .services-body .service-desc a:focus{
    color: #C3191F;
    font-weight: bolder;
    text-decoration: none;
}
#services .left-shadow{
    box-shadow: 6px 6px 18px #1b202150;
}
#services .right-shadow{
    box-shadow: -6px 6px 18px #1B202150;
}
#services .services-body{
    
}
.line-service{

}
.line-service .line-hr-s{
    border-bottom: 1px solid #707070;
}
.bg-lay{
    background-color: #FEF0F2;
    position: absolute;
    top: 0;
    left: 0;
    /*min-height: 1200px;*/
    min-height: 800px;
    height: calc(100% - 40px);
}
/*page*/
#pg-header{

}
#pg-header .parralax-overlay{
    background: unset;
    background-color: rgba(27,32,33,.43);
}
#pg-header .pg-header-content{
    
}
#pg-header .pg-header-content h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 50px;
}
/*blog*/
#askus{
    background-color: #EDF2F4;
}
#askus.peach{
    background-color: #FFEBE3;
}
#askus .ask-text h3{
    margin-top:30px;
    margin-bottom: 30px;
}
#askus .ask-btn{
    position: relative;
}
#askus .ask-btn-v{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/*blog detail*/
.detail-blog{

}
.detail-blog .img-box{
    height: unset;
    margin-bottom: 25px;
}
.detail-blog{
    
}
.detail-blog{
    
}
.breadcrumb{
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}
.breadcrumb li a{
    color: #E43137;
}
.breadcrumb li a:hover,.breadcrumb li a:focus{
    color: #C3191F;
}
.bluelight{
    background-color: #EDF2F4;
}
/*contact*/
#contact .main-title {
    padding: 50px 0px;
}
#contact .main-title h3{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    margin: 0;
}
.contact-body{
    padding: 50px 0px;
}
.contact-body p .svg-inline--fa{
    color: #E43137;
    margin-right: 10px;
}
.form-contact{

}
.form-contact .btn-red-o{
    color: #E43137;
    transition: all .25s ease-out; 

}
.form-contact .btn-red-o:hover,.form-contact .btn-red-o:focus{
    color: #ffffff;
    background-color: #E43137;
    transition: all .25s ease-in; 
}
.soc-icon{

}
.soc-icon a{
    color: #E43137;
    font-size: 30px;
    margin-right: 30px;
}
.soc-icon a:hover,.soc-icon a:focus{
    color: #C3191F;
}
/*endpage*/
/*ABOUT*/
#works-section {
    background:
        linear-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.4)
        );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 0px 0px;
}
#works-section h1, #works-section h2{
    margin: 10px 0px;
    color: red;
    /*font-weight: bold;*/
}
#works-section img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}
.works-head{
    padding: 50px 0px;
}
.works-head h2{
    color: red;
    font-weight: bolder;
    margin-bottom: 30px;
}
.small-circle-bottom{
    height: 10px;
    width: 10px;
    object-position: center;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: xx-large;
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    left: calc(50% - 5px);
    bottom: 0px;
    z-index: 10;
}
.small-circle-top{
    height: 10px;
    width: 10px;
    object-position: center;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: xx-large;
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    left: calc(50% - 5px);
    top: 0px;
    z-index: 10;
}
.number-inside-circle{
    height: 60px;
    width: 60px;
    object-position: center;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: x-large;
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    z-index: 10;
    line-height: 1;
    font-family: 'Dancing Script', cursive;
    padding-top: 5px;
}
.vertical-line{
    height: 100%;
    width: 2px;
    background-color: red;
    position: absolute;
    left: calc(50% - 1px);
    z-index: 5;
}
.relative{
    position: relative;
}
.content-for-works{
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
}
.gradient-left{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faccd4+0,faccd4+50,faccd4+100&1+0,1+50,0+100 */
    background: -moz-linear-gradient(left, rgba(250,204,212,1) 0%, rgba(250,204,212,1) 50%, rgba(250,204,212,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(250,204,212,1) 0%,rgba(250,204,212,1) 50%,rgba(250,204,212,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(250,204,212,1) 0%,rgba(250,204,212,1) 50%,rgba(250,204,212,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faccd4', endColorstr='#00faccd4',GradientType=1 ); /* IE6-9 */
}
.gradient-right{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffebe3+0,ffebe3+50,ffebe3+100&0+0,1+50,1+100 */
    background: -moz-linear-gradient(left, rgba(255,235,227,0) 0%, rgba(255,235,227,1) 50%, rgba(255,235,227,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,235,227,0) 0%,rgba(255,235,227,1) 50%,rgba(255,235,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,235,227,0) 0%,rgba(255,235,227,1) 50%,rgba(255,235,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffebe3', endColorstr='#ffebe3',GradientType=1 ); /* IE6-9 */
}
.border-left-works{
    border-left: 2px solid red;
}
.border-right-works{
    border-right: 2px solid red;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .number-inside-circle{
        height: 30px;
        width: 30px;
        left: 0px;
        font-size: smaller;
    }
    .vertical-line{
        left: calc(15px - 1px);
    }
    .small-circle-bottom{
        left: calc(15px - 5px);
    }
    .small-circle-top{
        left: calc(15px - 5px);
    }
    .margin-top-race{
        margin-top: calc(50vh - 130px);
    }
    .margin-top-head-content{
        margin-top: calc(50vh - 100px);
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .number-inside-circle{
        height: 30px;
        width: 30px;
        left: 0px;
        font-size: smaller;
    }
    .vertical-line{
        left: calc(15px - 1px);
    }
    .small-circle-bottom{
        left: calc(15px - 5px);
    }
    .small-circle-top{
        left: calc(15px - 5px);
    }
    .margin-top-race{
        margin-top: calc(50vh - 130px);
    }
    .margin-top-head-content{
        margin-top: calc(50vh - 100px);
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
.delay-1 {
    animation-delay: .25s;
}
.delay-2 {
    animation-delay: .75s;
}
.delay-3 {
    animation-delay: 1.25s;
}
.delay-4 {
    animation-delay: 1.75s;
}
.delay-5 {
    animation-delay: 2.25s;
}
.works-section{
    opacity: 0;
}
.works-section .main-title h3,.works-head .main-title h3{
    font-family: 'Dancing Script', cursive;
}
#top-about{
    margin-top: 50px;
}
.no-m{
    margin: 0;
}
/*END ABOUT*/
/*venue*/
#venueSlider{

}
#venueSlider .carousel-indicators{
    
}
#venueSlider .carousel-indicators li{
    border-color: #FA7888;
    background-color:#fff;
}
#venueSlider .carousel-indicators li.active{
    background-color: #FA7888;
    border-color: #FA7888;
}
#venueSlider .carousel-inner{
    height: 80vh;
}
#venueSlider .carousel-inner .item{
    height: 100%;
    width: 100%;
}
#venueSlider .carousel-inner .item img{
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#venueSlider .carousel-inner .item .carousel-caption{
    left: 0;
    right: 0;
    bottom: 40px;
}
#venueSlider .carousel-inner .item .carousel-caption .bgv-cap-venue{
    background-color: rgba(250,120,136,.8);
    padding: 15px 20px;
    border-radius: 3px;
}
#venueSlider .carousel-inner .item .carousel-caption .bgv-cap-venue h3{
    margin: 0;
}
#venueSlider{
    
}
#venueSlider{
    
}
.lar-tab{
}
.lar-tab ul{
    border-bottom-color: transparent;
}
.lar-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,.lar-tab .nav-tabs > li.active > a:focus {
    color: #000;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom-color: #E5393F;
    cursor: default;
}
.lar-tab .nav-tabs > li{
    padding-left: 0;
    padding-right: 0;
}
.lar-tab .nav-tabs > li > a {
    color: #000;
    margin-right: 0;
    line-height: 1.6;
    border: 2px solid transparent;
    border-radius:0;
    padding: 0;
    border-bottom-color: #FACED6;

}
.lar-tab .nav-tabs > li > a h1{
    font-size: 24px;
    margin: 10px 0px;
}
.lar-tab .nav-tabs > li > a:hover,.lar-tab .nav-tabs > li > a:focus{
    border: 2px solid transparent;
    border-bottom-color: #E5393F;
}
.lar-tab .tab-content{
    margin-top: 25px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
div{
    /*border:1px solid red;*/
}
#calendar{
    padding-top: 50px;
    padding-bottom: 50px;
}
#calendar .btn-default{
    border-color: #E5393F;
    color: #E5393F;
}
#calendar .btn-default:active,#calendar .btn-default:hover,#calendar .btn-default.active,#calendar .open > .btn-default.dropdown-toggle{
    background-color: #E5393F;
    color: #fff;
}
#calendar .table-bordered > thead > tr > th,#calendar .table-bordered > thead > tr > td {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FACED6;
}
/*end venue*/
/*gallery*/

#gallery .lar-tab{

}
#gallery .lar-tab .nav-tabs > li,#gallery .lar-tab .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

#gallery .lar-tab .nav-tabs,#gallery .lar-tab .nav-pills {
    text-align:center;
}
#gallery .lar-tab .nav-tabs > li > a h1{
    margin: 10px 20px;
    font-size: 20px;
}
.gall{
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 500px;
}
.gall .gall-item:hover .gal-overlay,.gall .gall-item:focus .gal-overlay{
    visibility: 1;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.5s ease-out;
}
.gall .gall-item .gal-overlay .fa-search{
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.gall .gall-item:hover .gal-overlay .fa-search,.gall .gall-item:focus .gal-overlay .fa-search{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gall .gall-item{
    position: relative;
    margin-bottom: 20px;
}
.gall .gall-item .gal-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gall .gall-item .gal-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.gall .gall-item .gal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(228,49,55,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    visibility: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.gall .gall-item .gal-overlay .gal-ov-desc{
    text-align: center;
    color: #fff;
}
.gall .gall-item .gal-overlay .gal-ov-desc i{
    
}
.gall .gall-item .gal-overlay .gal-ov-desc p{
    margin: 0;
    margin-top: 10px;
}
.gall .gall-item .gal-overlay .gal-ov-tag{
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.gall .gall-item .gal-overlay .gal-ov-tag p{
    margin: 0;
}
.gall .gall-item .gal-overlay{
    
}
.gall .gall-item{
    
}
.gall-coll{
    padding-right: 10px;
    padding-left: 10px;
}
/*endgallery*/

/* owl carousel */
#instaweek .owl-for-home-attraction{
            
}
#instaweek .owl-for-home-attraction .owl-nav{
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
    text-align: left;
}

#instaweek .owl-for-home-attraction .owl-nav [class*=owl-]:hover{
        background: transparent;
        color: #FFF;
        text-decoration: none;
}
#instaweek .owl-for-home-attraction .owl-nav .owl-prev{

}
#instaweek .owl-for-home-attraction .owl-nav .owl-next{
    float: right;
}
#instaweek .owl-for-home-attraction .owl-nav .owl-prev span, .owl-for-home-attraction .owl-nav .owl-next span{
    font-size: 7rem;
    font-weight: 600;
    color: white;
    opacity: .3;
    line-height: 0px;
}
#instaweek .owl-for-home-attraction .owl-nav .owl-prev span:hover, .owl-for-home-attraction .owl-nav .owl-next span:hover{
    background-color: transparent;
}
/* end owl */