/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    #navbar.pull-right{
        float: unset !important; 
    }
    #services .services-body .img-box{
        margin-top: 0px !important;
    }
    .bg-lay{
        height: 100% !important;
    }
    #services .services-body .service-desc{
        min-height: 400px !important;
    }
    #homeCarousel .carousel-inner {
        min-height: 40vh !important;
        height: 40vh !important;
    }
    #homeCarousel .home-caption h1{
        font-size: 36px;
    }
    .gall .gall-coll{
        width: 100%;
    }
    nav#mainNavbar{
        background-color: rgba(0,0,0,.8);
    }
    #mainNavbar .navbar-collapse {
        max-height: unset;
    }
    #mainNavbar .navbar-collapse ul{
        height: 100vh;
    }

    #venueSlider .carousel-inner {
        min-height: 40vh !important;
        height: 40vh !important;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    #navbar.pull-right{
        float: unset !important; 
    }
    #services .services-body .img-box{
        margin-top: 0px !important;
    }
    .bg-lay{
        height: 100% !important;
    }
    #services .services-body .service-desc{
        min-height: 400px !important;
    }
    #homeCarousel .carousel-inner {
        min-height: 40vh !important;
        height: 40vh !important;
    }
    #homeCarousel .home-caption h1{
        font-size: 36px;
    }
    .gall .gall-coll{
        width: 50%;
    }

    nav#mainNavbar{
        background-color: rgba(0,0,0,.8);
    }
    #mainNavbar .navbar-collapse {
        max-height: unset;
    }
    #mainNavbar .navbar-collapse ul{
        height: 100vh;
    }

    #venueSlider .carousel-inner {
        min-height: 40vh !important;
        height: 40vh !important;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #services .services-body .img-box{
        margin-top: 0px !important;
    }
    .bg-lay{
        height: 100% !important;
    }
    #services .services-body .service-desc{
        min-height: 400px !important;
    }
    #homeCarousel .carousel-inner {
        min-height: 40vh !important;
        height: 40vh !important;
    }
    .gall .gall-coll{
        width: 50%;
    }

    #venueSlider .carousel-inner {
        min-height: 40vh !important;
        height: 40vh !important;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
    .gall .gall-coll{
        width: 33%;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .gall .gall-coll{
        width: 33%;
    }
}